.dark-theme
  background-color: #0B132B
  header
    background-color: #0B132B
  .nav-header a
    color: #fff
  .logo-dark
    display: none
  .logo-white
    display: block
  .btn--white
    background-color: $blueColor
    color: $whiteColor
    border-color: $whiteColor
  .border-container,
  .border-tab
    border-color: $whiteColor
    background-color: #0B132B
    color: $whiteColor
  .input-box label,
  .input-decorate,
  .custom-select,
  .file-decorate
    color: #fff
  .switch-input
    border-color: 1px solid $whiteColor
  .tags-popup
    background-color: $blackColor
.logo-white
  display: none
