.travel-user
  display: flex
  gap: 30px
.travel-current
  width: calc(50% - 60px)
.travel-current-line
  margin-bottom: 15px
  padding-left: 30px
  position: relative
  i
    position: absolute
    left: 0
    top: 0
.travel-current-detail
  color: $blueColor
  font-weight: 700
.travel-story
  width: 50%
  border-left: 1px solid $blueColorSecond
  padding-left: 30px
  margin-left: 0px
.travel-story
  .btn-container-bottom
    padding-top: 15px

.travel-add-panel
  background-color: $blueColor
  color: $whiteColor
  margin-bottom: 30px
  border-color: $blueColor
  h3,label
    font-size: 20px
    color: $whiteColor
    margin-bottom: 1px
    text-transform: initial
  .btn-container
    padding-top: 30px
  .btn
    width: 100%
    margin: 0
.travel-info-date
  padding: 8px
.travel-info-panel
  h3
    margin: 0
@media (max-width: 576px)
  .travel-add-panel
    border-radius: 30px
    .btn-container
      padding: 0
