.travel-item
  .btn
    width: 50%
  .btn-container
    display: flex
    justify-content: space-between
    gap: 15px
.travel-img
  height: 200px
  @include bgImageEl("../images/stub-ico.svg", cover)
  border-radius: 20px
  margin: 0 0 15px
.travel-date
  margin-bottom: 15px
