.travel-item
  position: relative

  .btn
    width: 50%
  .btn-container
    display: flex
    justify-content: space-between
    gap: 15px
.travel-img
  height: 200px
  position: relative
  border-radius: 20px
  margin: 0 0 15px
  overflow: hidden
.travel-date
  margin-bottom: 15px
