mixin likeItem()
	.like-item
		.img-cover-info
			.like-img.img-use-bg
			h3 Максим
			.status-new new
		.btn-container 
			.like-hint Ответ на симпатию
			div
				.status-like.status--disagree  Нету симпатии
			.like-hint Ваш ответ
			.like-status-btn.see-like-btn(title="Еще посмотрю")
			.like-status-btn.agree-like-btn(title="Ниче так")
			.like-status-btn.disagree-like-btn(title="Неее")
			.like-status-btn.trash-like-btn(title="С глаз долой") 