mixin likeItemMini()
	.like-item-mini
		.img-cover-info
			.like-img.img-use-bg.like-mini-img--agree
		.btn-container
			.status-new new
			.like-status-btn.see-like-btn(title="Еще посмотрю")
			.like-status-btn.agree-like-btn(title="Ниче так")
			.like-status-btn.disagree-like-btn(title="Неее")
			.like-status-btn.trash-like-btn(title="С глаз долой") 
		h3 Максим 