.border-container
  padding: 30px
  border: 1px solid $grayColor
  border-radius: 30px
  background-color: $whiteColor
  .main-grid
    padding: 0
  h3
    color: $blackColor
    font-size: $largeSize
  .input-box
    margin: 0 0 15px
.border-container
.border-tab
  text-transform: uppercase
  padding: 8px 30px 7px
  border: 1px solid $grayColor
  background-color: $whiteColor
  border-bottom: 0
  border-radius: 20px 20px 0 0
  display: inline-block
  cursor: pointer
  font-weight: 800
  margin-right: 25px
  text-decoration: none
  color: $blueColorSecond
  &:hover,
  &.active
    background-color: $blueColor
    border-color: $blueColor
    color: $whiteColor

.border-null-left
  border-top-left-radius: 0
.border-null-top
  border-top-left-radius: 0
  border-top-right-radius: 0
.btn-container-right
  text-align: right
.border-search-outer
  // position: sticky
  top: 15px
  z-index: 2
.border-search-hotels
  .btn-container
    display: flex
    gap: 15px
    height: 100%
    .btn
      margin: auto 0 0
      width: 50%

.border-container-search
  padding: 15px 30px 20px
  margin: 0 0 45px
  .main-grid
    gap: 15px 30px

  .btn-container
    text-align: center
    // display: flex
    // gap: 30px
    // padding-top: 32px
  .btn
    // width: 50%
    padding: 9px 12px
    margin: 0 15px
    font-size: 14px
  .input-box
    margin: 0
  .btn-container--bottom
    padding: 0
.show-filter-mobile-container
  display: none
.mobile-topic
  display: none
@media (max-width: 576px)
  h1.mobile-topic
    display: block
    color: $blackColor

  .border-container
    padding: 15px
    border-radius: 0px 0px 30px 30px
    .main-grid
      gap: 0

  .show-filter-mobile-container
    display: block
    margin-bottom: 15px
    font-size: 0
    text-align: right

  .show-filter-mobile
    background-color: $whiteColor
    max-width: 200px
    margin: 0 auto
    width: 40px
    height: 40px
    display: inline-block
    @include bgImageEl("../images/icons-app/filter.svg", 24px)
    border-radius: 100%
    border: 1px solid $blueColorSecond
    &.active
      display: none
  .border-tabs-container
    display: none
  .search-all
    .border-tabs-container
      // border-bottom: 1px solid $grayColor
      width: calc(100% - 60px)
      padding-top: 17px
      display: none

    .border-tab
      padding: 6px 6px 4px
      width: 50%
      margin: 0 15px 0 0
      text-align: center
      font-size: 13px
    .border-container-search
      display: none
      padding: 0
      padding-top: 20px
      .main-grid
        gap: 15px 0
      .box-range
        padding-right: 15px
      .tag
        padding: 3px 10px
        width: 47%
      .close-container
    .close-container
      position: absolute
      width: 100%
      padding: 0 15px
      left: 0
      top: 15px
    &.active
      display: block
      position: fixed
      top: 0
      z-index: 5
      background: #fff
      width: 100%
      height: 100vh
      overflow-y: auto
      .show-filter-mobile-container
        margin-bottom: 0
      .border-tabs-container
        display: flex
      .border-container-search
        display: block
        border: 0
        border-top: 1px solid $grayColor
    .search-select-box
      label
        // display: inline-block
        // width: 40%
      .custom-select
        // width: 60%
        // display: inline-block
        // padding: 3px 15px 4px
        // margin-bottom: 15px
      .search-select span
        // padding: 0
    .btn-container
      display: flex
      gap: 15px
      margin-top: 15px
      .btn
        width: 50%
        margin: 0
